<nav class=" navbar navbar-expand-lg bg-body-tertiary navbar-dark d-flex align-items-end nav justify-content-center  "
     style="height: 120px; padding-top: 80px; border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
    <div class="position-absolute bottom-50 ">
        <h1>Party Supplies</h1>
    </div>
    <div class="container-fluid nav justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-black" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/decorations">Decorations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/balloons">Balloons</a>
            </li>
            <li class="nav-item dropdown">
                <div class="btn-group">
                    <a href="/themes/occasions"> <button type="button" class="btn text-black">Occasions</button></a>
                    <button type="button" class="btn text-black dropdown-toggle dropdown-toggle-split" style="position:relative; right: 9px;" data-bs-toggle="dropdown"></button>
                    <div class="dropdown-menu">
                       <a class="dropdown-item" href="/themes/occasions/christmas">Christmas</a>
                       <a class="dropdown-item" href="/themes/occasions/halloween">Halloween</a>
                       <a class="dropdown-item" href="/themes/occasions/easter">Easter</a>
                       <a class="dropdown-item" href="/themes/occasions/valentines">Valentines</a>
                       <a class="dropdown-item" href="/themes/occasions/stpatricksday">St Patrick's Day</a>
                       <a class="dropdown-item" href="/themes/occasions/birthdays">Birthdays</a>
                    </div>
                </div>
              </li>
            <li class="nav-item dropdown">
                <div class="btn-group">
                   <a href="/themes/costumes"> <button type="button" class="btn text-black">Costumes</button></a>
                    <button type="button" class="btn text-black dropdown-toggle dropdown-toggle-split" style="position: relative; right: 9px;" data-bs-toggle="dropdown"></button>
                    <div class="dropdown-menu">
                       <a class="dropdown-item" href="/themes/costumes/mens">Mens</a>
                       <a class="dropdown-item" href="/themes/costumes/womens">Womens</a>
                       <a class="dropdown-item" href="/themes/costumes/kids">Kids</a>
                    </div>
                </div>
              </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/marketplace">Marketplace</a>
            </li>
            <% if (!signedInUser) { %>
            <li class="nav-item">
                <a class="nav-link text-black" href="/login"><span class="material-symbols-outlined">person</span></a>
            </li>
            <%} else { %>
                <li class="nav-item dropdown">
                    <div class="btn-group">
                       <a href="/account/<%=signedInUser.username%>"> <button type="button" class="btn text-black">Account</button></a>
                        <button type="button" class="btn text-black dropdown-toggle dropdown-toggle-split" style="position: relative; right: 9px;" data-bs-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="/account/<%=signedInUser.username%>/orders">Orders</a>
                           <a class="dropdown-item" href="/account/<%=signedInUser.username%>/listings">Listings</a>
                           <a class="dropdown-item" href="/account/<%=signedInUser.username%>/reviews">Reviews</a>
                        </div>
                    </div>
                  </li>
            <li class="nav-item">
                <form action="/logout" method="POST">
                <a class="nav-link text-black" id="logout" name="logout" href="/logout">Logout</a>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black"  href="/wishlist"><span id="navbar-wishlist" class="material-symbols-outlined">
                    favorite
                    </span></a>
            </li>
            <%} %>
        
            <li class="nav-item">
                <% if (!session.basket) { %>
                <a class="nav-link text-black" href="/basket"><span class="material-symbols-outlined">shopping_cart</span><span id="basketQuantity">  0</span></a>  
                <%} else { %>   
                <a class="nav-link text-black" href="/basket"><span class="material-symbols-outlined">shopping_cart</span><span id="basketQuantity">  <%=session.basket.products.length%></span></a>     
                <%} %>  
            </li>
           
            <li class="d-flex flex-row nav-item">
                <a class="nav-link text-black" href="/search"><span class="material-symbols-outlined">search</span></a>
                <span> 
                    <form action="/search" method="GET">
                    <input type="text" name="search" id="searchInput">
                </form>
              </span>
            </li>
        </ul>
    </div>
    </div>
</nav>

<!-- Navbar aligning may be due to col spacing on product pages like balloons and decorations -->