<% layout('layouts/boilerplate')%>
    <div class="container text-center " >
        <h1> <%= listings[0].category %> </h1>
        
        <div class="d-flex justify-content-between align-items-center mb-3"><%- include('../../../partials/marketplaceDropdown') %> <h4 class="text-muted">Elevate Your Event with Stunning Balloon Decorations</h4>  <h4> Items(<%= totalProducts.length %>)</h4></div>
           <div class="row ">
            <hr>
                    <% for (let i = 0; i < listings.length; i++) {%>
                     
                        <div class="col-12 col-md-3 mb-4">
                                  <div class="card text-black">
                                    <a class="" href="/marketplace/listings/<%= listings[i]._id  %>"><img style="width: 305px"; height="310px"
                                      src=<%=listings[i].image%>
                                      class="card-img-top"
                                    />
                                </a>
                                    <div class="card-body">
                                      <div class="text-center">
                                        <h4 class="card-title"><%=listings[i].name%></h4>
                                        <p class="text-muted mb-2"><%=listings[i].description%></p>
                                        <h4 class="mb-3">£<%=listings[i].price%></h4>
                                      </div>
                                      
                                      <form action="/basket" method="POST">
                                        <input type="hidden" name="productId" value="<%= listings[i]._id  %>">
                                        <input type="hidden" name="name" value="<%= listings[i].name  %>">
                                        <input type="hidden" name="price" value="<%= listings[i].price  %>">
                                        <input type="hidden" name="quantity" value="<%= listings[i].quantity  %>">
                                        <input type="hidden" name="image" value="<%= listings[i].image  %>">
                                        <input type="hidden" name="category" value="<%= listings[i].category  %>">
                                        <input type="hidden" name="description" value="<%= listings[i].description  %>">
                                        <div> <a class="btn btn-success border border-dark mb-2" href="/marketplace/listings/<%= listings[i]._id  %>"> View</a></div>
                                        <button type="submit" class="btn btn-primary border border-dark">Add to Basket</button>
                                    </form>
                                    </div>
                                  </div>
                              </div>
                    <% } %>
            </div>
            <hr>
            <div class="d-flex justify-content-around mb-4">
              <% for (let i = 0; i < totalProducts.length / productsPerPage - 1; i++) {%>
                <a style="text-decoration:none"  href="/marketplace/listings?page=<%=[i + 1]%>"><h4  class="pageNumber"><%=[i + 2]%></h4></a>
            <% } %>

            </div>   
            
    </div>




