<% layout('layouts/boilerplate')%>
<div class="container">

    <h1 class=" text-center">Edit Listing</h1>

    <form action="/marketplace/listings/<%=listing._id%>/edit?_method=PUT" method="POST" class="validate-form" novalidate>
        <div class="form-outline mb-4">
            <label class="form-label" for="name">Item Name</label>
            <input type="text" id="name" name="marketplace[name]" class="form-control" value="<%=listing.name%>" required />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="subCategory">Category</label>
            <input type="text" id="subCategory" name="marketplace[subCategory]" class="form-control" value="<%=listing.subCategory%>" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="condition">Condition</label>
            <input type="text" id="condition" name="marketplace[condition]" class="form-control" value="<%=listing.condition%>" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="size">Size</label>
            <input type="text" id="size" name="marketplace[size]" class="form-control" value="<%=listing.size%>" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="description">Description</label>
            <textarea type="text" id="description" name="marketplace[description]" class="form-control"  required></textarea>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="image">Image</label>
            <input type="text" id="image" name="marketplace[image]"  class="form-control" value="<%=listing.image%>" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="price">Price</label>
            <input type="text" id="price" name="marketplace[price]" class="form-control" value="<%=listing.price%>" required/>
        </div>
        <button class="btn btn-success">Save</button>
    </form>
</div>


