<% layout('layouts/boilerplate')%>
<div class="container-fluid">
    <h1 class="text-center">My Orders</h1>
    <div>
    
<section >
  <div class="container py-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">No</th>
                <th scope="col" class="h5">OrderID</th>
                <th scope="col">Date</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <% for (let i = 0; i<orders.length; i++)  { %>
             
                
            <tbody>
              <tr>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;"><%=[i+1]%></p>
              </td>
                <td class="align-middle">
                  
                      <p class="mb-2"> <b><%= orders[i].id %></b> </p>
                  
                  </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">24/01/2023</p>
                </td>
                <td class="align-middle">
                  <p class="mb-0 ml-4" style="font-weight: 500;"><%= orders[i].basket.length  %></p>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">£40.29</p>
                </td>
                <td class="align-middle">
                  <a href="/account/<%= signedInUser.username%>/orders/<%= orders[i].id %>" class="mb-0" style="font-weight: 500;">View</a>
                </td>
             
                <%}%>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</div>




