<% layout('layouts/boilerplate')%>
<div class="container-fluid mt-4">
    <h1 class="text-center"> Order - #<%= orders.id.substring(19, 24).toUpperCase()  %> </h1>
    <section >
        <div class="container py-3">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="h5">Products</th>
                      <th scope="col">Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <% for (let basket of orders.basket) {%>
                      
                  <tbody>
                    <tr>
                      <td class="align-middle">
                          <div class="flex-column ms-4">
                            <img src="<%= basket.image %>" class="img-fluid rounded-3"
                            style="width: 120px; height: 150px;" alt="Book">
                          </div>
                        </td>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500;"><%= basket.name  %></p>
                      </td>
                      <td class="align-middle">
                        <p class="mb-0 ml-4" style="font-weight: 500;"><%= basket.quantity  %></p>
                      </td>
                      <td class="align-middle">
                        <p class="mb-0 ml-4" style="font-weight: 500;">£<%= basket.price  %></p>
                      </td>
                      <% } %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>   


    <div>
    <div>