<% layout('layouts/boilerplate')%>
<div class="container-fluid text-center mt-4">
    <h1>Reviews</h1>
    
    <% if (!reviews || reviews < 1 ) {%>
       <h4 >You have not left any reviews yet!</h4>
       <hr class="container">
  <div class="d-flex  justify-content-center">
  <a href="/"><button class="btn btn-primary  btn-lg basketButton" >Post Review</button></a>
</div>
   <img class="img-fluid noReviews" src="https://res.cloudinary.com/dtcoefjmm/image/upload/v1680277824/reviews_uugjh2.png" alt="">
  </div>
      </div>
      <%  } else {%>

<section >
    <div class="container py-3">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">No</th>
                  <th scope="col">Review</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Date</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <% for (let i =0; i<products.length; i++) {%>
                <% for (let j =0; j<products[i].reviews.length; j++) {%>
              <tbody>
                <tr>
                  <td class="align-middle">
                    <p class="mb-0 ml-4" style="font-weight: 500;"><%= [i + 1]  %></p>
                  </td>
                  <td class="align-left">
                    <p class="mb-0 ml-4" style="font-weight: 500;"><%= products[i].reviews[j].body  %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0 ml-4" style="font-weight: 500;"><%= products[i].reviews[j].rating  %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0 ml-4" style="font-weight: 500;"><%=  new Date(products[i].reviews[j].createdDate).toString().substring(4, 21)  %></p>
                  </td>
                  <td class="align-middle">
                    <a href="/<%=products[i].category.toLowerCase()%>/<%= products[i].id %>">
                      <button class="btn btn-primary mb-0 ml-4">View</button>
                       </a>
                  </td>
                  <td class="align-middle">
                    <form action="/balloons/<%= products[i]._id  %>?_method=DELETE" method="POST">
                      <input type="hidden" name="id" id="id" value="<%= products[i].reviews[j].id  %>">
                      <button class="btn btn-danger mb-0 ml-4 ">Delete</button>
                  </form>
                  </td>
                </div>
               
                  <% } %>
                
              <% } %>
              <% } %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>   

