<% layout('layouts/boilerplate')%>
<div class="container-fluid text-center">
    <h1 class="text-center">Reviews</h1>
    </div>
    <% if (reviews < 1 ) {%>
      <h3 class="text-center">You have not left any reviews yet!</h3>
      <%  } else {%>

<section >
    <div class="container py-3">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">No</th>
                  <th scope="col">Review</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <% for (let i =0; i<products.length; i++) {%>
                <% for (let j =0; j<products[i].reviews.length; j++) {%>
              <tbody>
                <tr>
                  <td class="align-middle">
                    <p class="mb-0 ml-4" style="font-weight: 500;"><%= [i + 1]  %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0 ml-4" style="font-weight: 500;"><%= products[i].reviews[j].body  %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0 ml-4" style="font-weight: 500;"><%= products[i].reviews[j].rating  %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0 ml-4" style="font-weight: 500;">24/01/22</p>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex flex-row">
                    <a href="/<%=products[i].category.toLowerCase()%>/<%= products[i].id %>">
                        <button class="btn btn-primary">View</button>
                         </a>
                        
                         <form action="/balloons/<%= products[i]._id  %>?_method=DELETE" method="POST">
                            <input type="hidden" name="id" id="id" value="<%= products[i].reviews[j].id  %>">
                            <button class="btn btn-danger mb-2">Delete</button>
                        </form>
                    </div>
                  </td>
                </div>
                 
                  <% } %>
                
              <% } %>
              <% } %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>   

