<% layout('layouts/boilerplate')%>
<div class="container-fluid text-center">
    <h1>Basket</h1>
    
    <% if (!session.basket || !session.basket.totalBasketPrice ) {%>
        <h2>No items in basket.</h2>
      
    <%}else {%>
        <% for(let i = 0; i<session.basket.products.length; i++) {%>
        
            <div class="container mb-2" style="width:600px;height:160px">
                <div class="card flex-row flex-wrap ">
                    <div class="card-header ">
                        <img src="<%= session.basket.products[i].image  %>" style="width:100px;height:100px" >
                        <h4 class="card-text">x<%= session.basket.products[i].quantity   %></h4>

                    </div>
                    <div class="card-block px-2">
                        <h4 class="card-title"><%= session.basket.products[i].name  %></h4>
                        <p class="card-text"><%=session.basket.products[i].description  %></p>
                        <h4 class="card-text">£<%= session.basket.products[i].price * session.basket.products[i].quantity  %></h4>
                    <form action="/basket?_method=DELETE" method="POST">
                        <input type="hidden" name="productId" value="<%= session.basket.products[i].productId  %>">
                        <button class="my-2 btn btn-danger">Remove</button>
                    </form>
                    <form action="/basket?_method=PUT" method="POST">
                        <input type="hidden" name="productId" value="<%= session.basket.products[i].productId  %>">
                        <button class="my-2 btn btn-success">Increase Qty</button>
                    </form>
                    <form action="/basket?_method=PATCH" method="POST">
                        <input type="hidden" name="productId" value="<%= session.basket.products[i].productId  %>">
                        <button class="my-2 btn btn-danger">Decrease Qty</button>
                    </form>
                    </div>
                </div>
                </div>

         <% } %>
         <div class="position-absolute">
        <h3 class="position-relative top-10">Total: £<%= session.basket.totalBasketPrice  %></h3>
         <form action="/checkout" method="GET">
            <button class="btn btn-primary mb-3">Checkout</button>
        </form>
    </div>
    </div>
  <%}%>
 
</div>



