<% layout('layouts/boilerplate')%>

<div class="container-fluid">
    <h1 class="text-center"> <%= signedInUser.username %> </h1>

    <div class="container">
        <form action="/account/<%=signedInUser.username %>?_method=PUT" method="POST" class="" novalidate>
            <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="text" id="username" name="username" name="user[username]" class="form-control"  value="<%= signedInUser.username %>" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" name="user[email]" value="<%= signedInUser.email %>" />
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
        <a href="/account/<%= signedInUser.username  %> ">
        <button class="btn btn-danger"> Cancel</button>
    </a>
    </div>
</div>

