<% layout('layouts/boilerplate')%>
<div class="container text-center">
    <h1>Basket</h1>

    <% if (signedInUser) { %>

       <% for (let i = 0; i<basketItems.length; i++) {%>
        <div class="container mb-2" style="width:600px;height:160px">
            <div class="card flex-row flex-wrap ">
                <div class="card-header ">
                    <img src="<%= basketItems[i].products[0].image  %>" style="width:100px;height:100px" >
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title"><%= basketItems[i].products[0].name  %></h4>
                    <p class="card-text"><%= basketItems[i].products[0].description  %></p>
                    <h4 class="card-text">£<%= basketItems[i].products[0].price  %></h4>
                    <h4 class="card-text"><%= basketItems[i].products[0].package.products  %></h4>
                <form action="/basket?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value="<%= basketItems[i]._id  %>">
                    <button class="my-2 btn btn-danger">Remove</button>
                </form>
                </div>
            </div>
            <br>
            
        </div>
       <%} %>

       <% for(let i =0; i<basketItems.length; i++) {  %>
        <% total+=basketItems[i].products[0].price  %>
        <% } %>

       <% if (total === 0) { %>
                  <h3>NOTHING IN YOUR BASKET YET!!!</h3>
                  <% } else {%>
                    <h3 class="py-3">Total: £<%= total %> </h3>
                    <form action="/checkout" method="GET">
                        <button class="btn btn-primary">Checkout</button>
                   </form>
                    <%}%>

        <%} else { %> 
            <% for (let i = 0; i<basketItems.length; i++) {%>
                <div class="container mb-2" style="width:600px;height:160px">
                    <div class="card flex-row flex-wrap ">
                        <div class="card-header ">
                            <img src="<%= basketItems[i].products[0].image  %>" style="width:100px;height:100px" >
                        </div>
                        <div class="card-block px-2">
                            <h4 class="card-title"><%= basketItems[i].products[0].name  %></h4>
                            <p class="card-text"><%= basketItems[i].products[0].description  %></p>
                            <h4 class="card-text">£<%= basketItems[i].products[0].price  %></h4>
                            <h4 class="card-text"><%= basketItems[i].products[0].package.products  %></h4>
                        <form action="/basket?_method=DELETE" method="POST">
                            <input type="hidden" name="id" value="<%= basketItems[i]._id  %>">
                            <button class="my-2 btn btn-danger">Remove</button>
                        </form>
                        </div>
                    </div>
                    <br>
                    
                </div>
               <%} %>
        
               <% for(let i =0; i<basketItems.length; i++) {  %>
                <% total+=basketItems[i].products[0].price  %>
                <% } %>

               <% if (total === 0) { %>
                  <h3>NOTHING IN YOUR BASKET YET!!!</h3>
                  <% } else {%>
                    <h3 class="py-3">Total: £<%= total %> </h3>
                    <form action="/checkout" method="GET">
                         <button class="btn btn-primary">Checkout</button>
                    </form>
                    <%}%>
            <% }%> 
</div>