<% layout('layouts/boilerplate')%>
<div class="container text-center">
    <h1>Search</h1>
    
    <form action="/search" method="GET">
        <input type="text" name="search" id="search">
        <button>Search</button>
    </form>
    
    <div class="row">
        <% products.forEach(product => {%>
        
            <div class="col-12 col-md-3 mb-4">
                <a class="" href="/<%=product.category %>/<%= product._id  %>"><img class="mb-2 img-fluid" src="<%=product.image%>" style=width:100%;height:350px;></a>
                <h5> <%=product.name%></h5>
                <h5> <%=product.description%></h5>
                <h3>£<%=product.price%></h3>
            <form action="/basket" method="POST">
                <input type="hidden" name="id" value="<%= product._id  %>">
                <button type="submit" class="btn btn-primary">Add to Basket</button>
            </form>
            </div>    

        <%}); %>
</div>

</div>

