<% layout('layouts/boilerplate')%>
<div class="container-fluid">
  
    <h1 class="text-center">Wishlist</h1>
    <% if (!wishlist || wishlist.products < 1) {%>
      <h3 class="text-center">No Items In Wishlist!</h3>
      <%  } else {%>

   
  
    <section >
        <div class="container py-3">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="h5">Wishlist</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Date Added</th>
                    </tr>
                  </thead>
                  <% for (let i =0; i< wishlist.products.length; i++) { %>
                      
                  <tbody>
                    <tr>
                      <td class="align-middle">
                          <div class="flex-column ms-4">
                            <img src="<%= wishlist.products[i].image %>" class="img-fluid rounded-3"
                            style="width: 120px; height: 150px;" alt="Book">
                          </div>
                        </td>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500;"><%= wishlist.products[i].name  %></p>
                      </td>
                      <td class="align-middle">
                        <p class="mb-0 ml-4" style="font-weight: 500;">£40.29</p>
                      </td>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500;">24/01/2021</p>
                      </td>
                      <td class="align-middle">
                        <a href="/<%= wishlist.products[i].category.toLowerCase() %>/<%=wishlist.products[i].id%> " class="mb-0" style="font-weight: 500;">View</a>
                        <form action="/wishlist?_method=DELETE" method="POST">
                          <input type="hidden" name="id" id="id" value="<%= wishlist.products[i].id  %>">
                          <button>Delete</button>
                        </form>
                      </td>
                      
                      <% } %>
                      <% } %>
                    
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>   
    
    </div>
    </div>